#app {
    width: 7.5rem;
    min-height: 13.34rem;
    margin: 0 auto;
    background-color: #f7f6f6;
}


/*公共样式--开始*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* html, body {
    min-height: 100%;
} */

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
    background-color: transparent !important;
}

textarea {
    resize: none;
    overflow: auto;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}